/* Banner */

.banner {
    width: 100%;
    height: 280px;
    text-align: center;
    align-content: center;
    background-image: url("../images/member_Banner.png");
    background-color: rgba(0,0,0,0.4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner_Line {
    height:2px;
    border-width:0;
    color:#FBFE56;
    background-color:#FBFE56; 
    margin: 0;
    opacity: 1;
}

.banner h1 {
    color: #FBFE56;
    margin: auto;
}

/* Content */

.charater_list {
    padding-top: 62px;
    padding-bottom: 71px;
    z-index: -5;
    text-align: center;
    background-image: url("../images/Kessoku_Band_Logo_yellow.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1083px 968px;
    background-color: rgba(0,0,0,0.85);
    background-blend-mode: overlay;
}

.charater_list_item {
    width: 100%;
    height: 750px;
    display: flex;
    justify-content:center;
    margin-bottom: 20px;
}

.chararter_left_title {
    display: flex;
    flex-direction: row;
}

.img_character {
    height: 100%;
    width: auto;
    z-index: 2;
    margin-left: 5%;
}

.info {
    /* margin-left: 2%; */
    /* align-content:center; */
    position: relative;
    top: 25%;
    height: max-content;
}

.info p {
    width: 380px;
    font-size: 19px;
    color: #F5F5F5;
    margin-top: 25%;
    margin-left: 5%;
}

.char_name {
    color: #FBFE56;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-weight: 900;
    position: relative;
    top: 8%;
    height: max-content;
}

.cv_info {
    position: relative;
    top: 70%;
    height: max-content;
    margin-right: 3rem;
}

.cv_img {
    width: 40px;
    height: fit-content;
}

.cv_name {
    font-weight: bold;
    color: #B464F6;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    margin-top: 15%;
}

.chararter_title {
    display: flex;
    text-align: center;
    align-items: center;
}

.member_bg {
    width: 850px;
    height: fit-content;

    position: absolute;
    top: 10%;
    left: 30%;

    z-index: 0;
    opacity: 0.34;
    border-radius: 12px;
}


.music_icon {
    width: auto;
    height: 60px;
    margin-right: 5px;
}

.music_post {
    height: 100px;
}

.chararter_info {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

@media screen and (max-width: 1200px) {
    .charater_list_item {
        height: 720px;
    }
    .member_bg {
        width: 700px;
    }
    .cv_info {
        margin-right: 1rem;
    }
    .info p {
        width: 350px;
    }
}
@media screen and (max-width: 992px) {
    .banner {
        height: 200px;
    }
    .charater_list_item {
        height: 700px;
    }
    .member_bg {
        width: 600px;
        left: 25%;
    }
    .cv_info {
        margin-right: 0rem;
    }
    .img_character {
        margin-left: 0%;
    }
    .info p {
        width: 300px;
        font-size: 17px;
    }
}
@media screen and (max-width: 768px) {
    .banner {
        height: 180px;
    }
    .charater_list_item {
        height: 500px;
    }
    .member_bg {
        width: 500px;

    }
    .cv_info {
        margin-right: 0rem;
    }
    .img_character {
        height: 100%;
        margin-left: 0%;
    }
    .info p {
        width: 270px;
        font-size: 13px;
        margin-top: 20%;
    }
    .music_icon {
        height: 40px;
    }
    .music_post {
        height: 80px;
    }
    .chararter_left_title {
        flex-direction: column;
    }
    .cv_info {
        top: 5%;
    }
    .cv_name {
        margin-top: 10%;
    }
    .cv_img {
        width: 30px;
    }
    .display-1 {
        font-size: calc(1rem + 4vw)
    }
    .char_name {
        top: 5%;
        align-self: center;
    }
    .chevron {
        height: 60px;
    }
}
@media screen and (max-width: 576px) {
    .banner {
        height: 150px;
    }
    .charater_list_item {
        height: 450px;
    }
    .member_bg {
        width: 300px;
        left: 35%;
        top: 5%;

    }
    .info {
        margin-left: -5%;
        z-index: 3;
    }
    .info p {
        width: 130px;
        font-size: 10px;
        margin-top: 20%;
    }
    .music_icon {
        height: 20px;
    }
    .music_post {
        height: 40px;
    }
}
@media screen and (max-width: 360px) {
    .banner {
        height: 100px;
    }
    .display-4 {
        font-size: 1.5rem;
    }
    .charater_list_item {
        height: 400px;
        
    }
    .member_bg {
        width: 230px;
        left: 28%;
        top: 5%;

    }
    .chararter_left_title{
        margin-right: -10%;
    }
    .info {
        margin-left: -10%;
        z-index: 3;
    }
    .info p {
        width: 130px;
        font-size: 9px;
        margin-top: 20%;
    }
    .music_icon {
        height: 20px;
    }
    .music_post {
        height: 40px;
    }
    .chevron {
        height: 50px;
    }
}

/* Divider Line */

.line_box {
    padding-top: 35px;
    padding-bottom: 35px;
    width: 100%;
    text-align: center;
}

.Line {
    position: relative;
    display: inline-block;
    width: 85%;
    padding: 0 20px; /* 留出空間給菱形 */
    border-bottom: 2px solid #FBFE56; /* 線條 */
}

.Line::before,
.Line::after {
    content: "";
    position: absolute;
    width: 10px; /* 菱形的寬度 */
    height: 10px; /* 菱形的高度 */
    background-color: #FBFE56; /* 菱形的顏色 */
    transform: rotate(45deg); /* 旋轉 45 度變成菱形 */
}

.Line::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* 菱形垂直置中 */
}

.Line::after {
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg); /* 菱形垂直置中 */
}


/* BG Box */

.hitori_bg_box {
    position: absolute;
    width: 455px;
    height: 106px;
    top: 550px;
    left: 0;
    background-color: #FF6496;
}

.nizika_bg_box {
    position: absolute;
    width: 455px;
    height: 106px;
    top: 1350px;
    right: 0;
    background-color: #FABE00;
}

.ryo_bg_box {
    position: absolute;
    width: 455px;
    height: 106px;
    top: 2151px;
    left: 0;
    background-color: #006EBE;
}

.ikuyo_bg_box {
    position: absolute;
    width: 455px;
    height: 106px;
    top: 2953px;
    right: 0;
    background-color: #E60046;
}